ventplan-prinzipskizze-client/src/main/resources/wsdl/Prinzipskizze.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="PrinzipskizzeService" targetNamespace="http://service.ventplan.com/prinzipskizze"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.ventplan.com/prinzipskizze" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        >
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://service.ventplan.com/prinzipskizze"
                   version="1.0" xmlns:tns="http://service.ventplan.com/prinzipskizze"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="prinzipskizze" type="tns:prinzipskizze"/>
            <xs:element name="prinzipskizzeResponse" type="tns:prinzipskizzeResponse"/>
            <xs:complexType name="prinzipskizze">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aussenluft" type="xs:string"/>
                    <xs:element minOccurs="0" name="fortluft" type="xs:string"/>
                    <xs:element minOccurs="0" name="zentralgerat" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="abluft1" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="abluft2" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="abluft3" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="zuluft1" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="zuluft2" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="zuluft3" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="arrayList">
                <xs:complexContent>
                    <xs:extension base="tns:abstractList">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractList">
                <xs:complexContent>
                    <xs:extension base="tns:abstractCollection">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractCollection">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="prinzipskizzeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="prinzipskizzeResponse">
        <wsdl:part element="tns:prinzipskizzeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="prinzipskizze">
        <wsdl:part element="tns:prinzipskizze" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Prinzipskizze">
        <wsdl:operation name="prinzipskizze">
            <wsdl:input message="tns:prinzipskizze" name="prinzipskizze">
            </wsdl:input>
            <wsdl:output message="tns:prinzipskizzeResponse" name="prinzipskizzeResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PrinzipskizzeServiceSoapBinding" type="tns:Prinzipskizze">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="prinzipskizze">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="prinzipskizze">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="prinzipskizzeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PrinzipskizzeService">
        <wsdl:port binding="tns:PrinzipskizzeServiceSoapBinding" name="PrinzipskizzePort">
            <soap:address location="http://localhost:8080/ventplan202/Prinzipskizze"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
